{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!-- Grid row -->
<div class="row">

    <!-- buttons navigation -->
    <div class="d-none d-sm-none d-md-flex col-md-12 justify-content-center mb-5" id="categories">
        <button class="btn btn-default filter-button active" id="artists_selection"
            onclick="filterGallery(this.id)">Artist's Selection</button>

        {% for category in categories %}
        <button class="btn btn-default filter-button" id="{{ category.name.split|join:'_'|lower }}"
            onclick="filterGallery(this.id)">{{ category.name|capfirst }}</button>
        {% endfor %}

        <button class="btn btn-default filter-button" id="video_section"
            onclick="filterGallery(this.id)">Videos</button>
        <button class="btn btn-default filter-button" id="archive" onclick="filterGallery(this.id)">Archive</button>

    </div>
    <!-- buttons navigation -->

    <!-- dropdown navigation -->
    <div class="d-md-none d-lg-none d-xl-none dropdown" id="categories-dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="gallery-categories" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-reference="parent">
            Categories
        </button>
        <div class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="gallery-categories">
            <button class="dropdown-item" type="button" id="artists_selection" onclick="filterGallery(this.id)">Artists
                Selection</button>
            {% for category in categories %}
            <button class="dropdown-item" type="button" id="{{ category.name.split|join:'_'|lower }}"
                onclick="filterGallery(this.id)">{{ category.name|capfirst }}</button>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button" id="video_section"
                onclick="filterGallery(this.id)">Videos</button>
            <button class="dropdown-item" type="button" id="archive" onclick="filterGallery(this.id)">Archive</button>
        </div>
    </div>
    <!-- dropdown navigation -->

</div>
<!-- Grid row -->

<!-- Video Section -->
<div class="row d-none justify-content-center" style="display: flex" id="gallery-videos">
    <div class="col-12 text-center mb-4">
        <h3>Videos</h3>
    </div>

    <div class="col-12 col-md-8 col-lg-12 mb-8" id="bctf-video">
        <div class="text-center" style="max-width: 70%; margin: auto;">
            <h5>Virtual stand for British Craft Trade Show 2020</h5>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/pihZVf4FNew"
                title="Lesley Anne Greene Ceramics" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="mt-2">
                Due to the Covid19 pandemic restrictions the <b>British Craft Trade</b> fair 2020 in Harrogate was
                represented online by two events for registered buyers during June (14th - 15th) and September (20th -
                22nd).
                This video was created to showcase my current and newest works.
            </p>
        </div>
    </div>

    <!-- Add more videos here by copying the col-12 col-md-8 col-lg-6 mb-4 div above -->

</div>
<!-- End Video Section -->

<div id="gallery-container">
    <!-- Grid row -->
    <div class="gallery" id="gallery">
        {% for item in gallery %}
        <!-- Grid column -->
        <div class="mb-3 pics animation">
            <a href="{{ item.image.url }}"
                class="gallery_product col-6 col-lg-4 col-md-4 col-sm-4 col-xs-6 filter {{ item.class_string }}">
                <img alt="picture" src="{{ item.image.url }}" class="img-fluid" />
                <div class="glightbox-desc">
                    <p>{{ item.title }}</p>
                </div>
            </a>
        </div>
        <!-- Grid column -->
        {% endfor %}

    </div>
    <!-- Grid row -->
</div>
{% endblock %}