{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!-- Grid row -->
<div class="row">

    <!-- buttons navigation -->
    <div class="d-none d-sm-none d-md-flex col-md-12 justify-content-center mb-5" id="categories">
        <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">All</button>

        {% for category in categories %}
            <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="{{ category.word }}">{{ category.word|capfirst }}</button>
        {% endfor %}

        <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="archive">Archive</button>

    </div>
    <!-- buttons navigation -->

    <!-- dropdown navigation -->
    <div class="d-md-none d-lg-none d-xl-none dropdown" id="categories-dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="gallery-categories" data-toggle="dropdown">Categories
            <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="gallery-categories">
                {% for category in categories %}
                <li role="presentation"><a role="menuitem" href="#">{{ category.word|capfirst }}</a></li>
                {% endfor %}
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" href="#">All</a></li>
                <li role="presentation"><a role="menuitem" href="#">Archive</a></li>
            </ul>
    </div>
    <!-- dropdown navigation -->

</div>
<!-- Grid row -->
<div id="gallery-container">
    <!-- Grid row -->
    <div class="gallery mdb-lightbox" id="gallery">
        {% for item in gallery %}
            <!-- Grid column -->
            <div class="mb-3 pics animation all {{ item.class_string }}">
                <a href="{{ item.image.url }}" data-size="1600x1067" class="glightbox">
                    <img alt="picture" src="{{ item.image.url }}" class="img-fluid" />
                    <div class="glightbox-desc">
                        <p>{{ item.description }}</p>
                    </div>                        
                </a>
            </div>
            <!-- Grid column -->
        {% endfor %}

    </div>
    <!-- Grid row -->
</div>
{% endblock %}