{% load static %}
{% block stockist %}
{% if stockist.end_date|date:"Y" > exhibition_years|first|stringformat:"s" %}
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch card {{ stockist.end_date|date:'Y' }} {{ stockist.venue.name.split|join:'_'|lower }}">
{% elif stockist.end_date|date:"Y" == exhibition_years|first|stringformat:"s" %}
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch filter card {{ stockist.end_date|date:'Y' }} {{ stockist.venue.name.split|join:'_'|lower }}">
{% else %}
    <div class="col-sm-12 col-md-6 col-lg-4 d-none align-items-stretch card filter {{ stockist.end_date|date:'Y' }} {{ stockist.venue.name.split|join:'_'|lower }}">
{% endif %}
    <h5 class="card-header">
        {{ stockist.title }}
    </h5>
    <div class="card-body">
        {% if stockist.venue %}
            <h5>{{ stockist.venue.name|capfirst }}</h5>
        {% endif %}
        <br>
        <h6>
            {% if stockist.start_date|date:"d M" == "01 Jan" %}
                {{ stockist.end_date|date:"Y"}}
            {% elif stockist.start_date|date:"M" == stockist.end_date|date:"M" %}
                {{stockist.start_date|date:"d"}} to {{ stockist.end_date|date:"d M y"}}
            {% elif stockist.start_date|date:"y" == stockist.end_date|date:"y" %}
                {{stockist.start_date|date:"d M"}} to {{ stockist.end_date|date:"d M y"}}
            {% else %}
                {{stockist.start_date|date:"d M y"}} to {{ stockist.end_date|date:"d M y"}}
            {% endif %}
        </h6>
        {% if stockist.description %}
            <p class="card-text">
            {{ stockist.description }}
            </p>
        {% endif %}
        {% if stockist.venue.address_line1 %}
        <br>
        <h6>Address:</h6>
            {{ stockist.venue.address_line1 }}
            {% if stockist.venue.address_line2 %}
                {{ stockist.venue.address_line2 }}
            {% endif %}
            {% if stockist.venue.city %}
                {{ stockist.venue.city }}
            {% endif %}
            {% if stockist.venue.postal_code %}
                {{ stockist.venue.postal_code }}
            {% endif %}
        {% endif %}
        
    </div>
    {% if stockist.link %}
        <div class="card-footer">
            {{ stockist.link }}
        </div>
    {% endif %}
</div>
{% endblock %}
