# Environment variables
.env

# Editor settings
.vscode/

# Terraform files
*tfplan
.terraform
*.tfstate*

# Pycache files
*.pyc

# static files & media files
**/staticfiles/*
**/staticfiles/**
*/media/

# migrations
**/migrations/*
