# Environment variables
.env
.venv

# Editor settings
.vscode/

# Terraform files
*tfplan
.terraform
*.tfstate*

# Pycache files
*.pyc

# static files & media files
**/staticfiles/*
**/staticfiles/**
*/media/
**/mediafiles/**

# main.tf with pg uri
terraform/heroku_resources/main.tf
