[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
gunicorn = "*"
Pillow = "*"
pytz = "*"
django-instagram = "*"
sorl-thumbnail = "*"
boto3 = "*"
django-storages = "*"
psycopg2-binary = "*"
django-admin-sortable2 = "*"
dj-database-url = "*"
whitenoise = "*"

[dev-packages]
pycodestyle = "*"
pytest = "*"
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.8"
