asgiref==3.6.0; python_version >= "3.8"
boto3==1.26.43; python_version >= "3.7"
botocore==1.29.43; python_version >= "3.7"
certifi==2022.12.7; python_version >= "3.7" and python_version < "4"
charset-normalizer==2.1.1; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
dj-database-url==0.5.0
django-admin-sortable2==1.0.4
django-instagram==0.3.2
django-storages==1.13.2; python_version >= "3.7"
django==4.2.1; python_version >= "3.8"
gunicorn==20.1.0; python_version >= "3.5"
idna==3.4; python_version >= "3.7" and python_version < "4"
jmespath==1.0.1; python_version >= "3.7"
lxml==4.9.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pillow-pil==0.1dev
pillow==9.4.0; python_version >= "3.7"
psycopg2-binary==2.9.5; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
python-dotenv==0.19.2; python_version >= "3.5"
pytz==2021.3
requests==2.28.1; python_version >= "3.7" and python_version < "4"
s3transfer==0.6.0; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
sorl-thumbnail==12.9.0; python_version >= "3.7"
sqlparse==0.4.4; python_version >= "3.8"
tzdata==2022.7; sys_platform == "win32" and python_version >= "3.8"
urllib3==1.26.13; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4"
whitenoise==6.3.0; python_version >= "3.7"
