<div class="col-md-12" id="abId0.7773693883923949">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h3 class="text-center">
                Current galleries with work
            </h3>
            <p class="text-center">
                The following galleries have a selection of my work on show and in the window.
            </p>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <h5 class="card-header">
                            Jenny Morten Gallery
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                40 High St ,Old Town, Bridlington. East Riding of Yorks YO16 4PX 
                            </p>
                        </div>
                        <div class="card-footer">
                            link
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h5 class="card-header">
                            Art Room Gallery
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                15 High Street,Garstang, Lancashire PR3 1FA
                            </p>
                        </div>
                        <div class="card-footer">
                            link
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h5 class="card-header">
                            John Noott Gallery
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                10 The Green,Broadway,Worcestershire.WR12 7AA 
                            </p>
                        </div>
                        <div class="card-footer">
                            link
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>