.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


/* Gallery categories menu */

div#categories {
    flex-wrap: wrap;
}

#categories button {
    border: solid 2px;
    margin: 0px 8px 15px 8px;
    border-color: #88A0A8;
}

#categories button:hover {
    background-color: #87a0a8;
    color: white;
}

#categories button:focus {
    box-shadow: none;
}

.selected {
    background-color: #87a0a8;
    color: white;
}

div#categories-dropdown {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

button#gallery-categories {
    width: 100%;
}

button.dropdown-item:hover {
    background: #87a0a8;
}

.img-fluid {
    margin-left: -15px;
}


#gallery-container {
    border-left: solid 3px;
    border-right: solid 3px;
    border-bottom: solid 3px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #88A0A8;
    padding: 15px;
}

/* Gallery background color */
.glightbox-mobile .goverlay {
    background: #495057;
}

.goverlay {
    background: #495057;
}

.glightbox-mobile .glightbox-container .gslide-description {
    bottom: 0px;
}

.glightbox-clean .gdesc-inner, .glightbox-modern .gdesc-inner {
    padding: 0px 20px;
}

.gslide-image img {
    max-height: 70vh;
}

@media (min-height: 750px){
    .gslide-image img {
        max-height: 80vh;
    }
}
    
@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}