body {
    background-color: #EFEEEA;
    color: #66666E;
}

#main-nav {
    background-color: #88A0A8!important;
}

.navbar {
    padding-left: 0;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.stockist, .navbar-light .navbar-nav .stockist>.nav-link {
    color: white;
    font-weight: bold;
    background-color: #88A0A8;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link {
    height: 56px;
    padding: 10px;
    padding-right: 0px;
    padding-left: 0;
}

div#navbarSupportedContent {
    margin-top: 5px;
    margin-bottom: 5px;
}

.potters-mark-nav-bar {
    height: 30px;
    width: 30px;
    text-align: center;
    margin: 13px 2%;
}

.sticky-top {
    background-color: #88A0A8;
    border-top: solid 3px;
    border-left: solid 3px;
}

@media screen and (min-width: 767px) {
    .sticky-top {
        background-color: #EFEEEA!important;
        border-top-right-radius: 3em;
        position: relative;
    }

    .sticky-top .col-md-10.col-lg-7 {
        padding-left: 0px;
    }

    #main-nav {
        padding-left: 15px;
    }

    .navbar-nav .nav-link {
        height: inherit;
    }
}

