{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="row">
    <div class="col-md-4">
    <img src="{% static 'images/portrait.jpg' %}" class="rounded-circle" alt="Artist photo"> 
    </div>
    <div class="col-md-8">
        <div>
            <h2>
                About the Work
            </h2>
            <p>
                The development of my current work began in 1993 when my son began infant school. I had originally completed a degree in 3D design/ceramics in Cardiff and earned my living as a secondary school teacher when I arrived at the stage where I wanted to do something creative that would fit around the demands of a growing family. Inspiration for my earlier works came from my home life as well as a lifelong interest in museum artefacts, ancient history, myths and legends. Over the years I have revisited and recalled some of those elements to create my current collection.
            </p>
            <p>
                The cat reliquary vessels are based on canopic jars and mummified forms from ancient egypt. They function on a decorative level but they could also be used for the interment of remains. The unmodelled coils revealing the skeleton of the pot are intended as a visual metaphor. "Miu" is the ancient egyptian word for cat. "Feeline" is a play on words describing the object and the instinct to touch and hold. I aim to create the feeling of the ceremonial or sacred in many of my pieces but also think that the expression of fun and playfulness is an important element.
            </p>
            <p>
                Geisha was created to show originally at Potfest in Cumbria several years ago when there was a cultural exchange between Japan and the Lake District. I have always appreciated oriental art and imagery and before making her I researched several books about geishas. My computer was also very useful in finding details and checking out images. I particularly like the flowing lines of the kimono over the figure and the flat oval faces with tiny features of the Japanese ladies in Ukiyoe art from the Edo period. I initially created the two Kimonos to work out how I would construct the bigger piece but left them without the figure because I felt that they took on a life and movement of their own. Something which I hope to explore in the future.
            </p>
            <p>
                The camel pieces began with the crowned camels "Rex" designed, initially, for a Christmas show in Glasgow.Since I began making camels they have appeared regularly in my life sometimes in the most extraordinary places such as walking down the centre of the road in a small french town!I have sat on the back of a lovely camel called Antony in Luxor.(learning how to lean backwards for the descent)Rode a camel into the Sahara in Tunisia and most recently visited the camel races and camel dressage in Qatar.The latter event inspiring the kneeling camels and riders in my collection.
            </p>
        </div>
    </div>
</div>

{% endblock %}