{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="row" id="about">
    <div class="col-md-8">
        <div>
            <h2>
                About Lesley
            </h2>
            <p>
                After completing an art foundation course in Scarborough I studied for a degree in 3D design / ceramics at Cardiff Art College and on completion of a postgraduate course in education I taught art in a state secondary school in Crewe ,Cheshire.
            </p>
            <p>
                When my youngest child began school I began to look for an opportunity to use and develop my creative skills which would fit around the demands of family life. I applied for and was awarded a small enterprise allowance by Cheshire County Council which included helpful business advice and I was able to set up my first ceramics workshop.
            </p>
            <p>
                Initially I began showing and selling my work to the public at a variety of local fairs and venues. Now I have gained recognition and success in exhibiting and selling through public and private art galleries as well as ceramic festivals and trade shows and I am always looking for opportunities to reach out to a fresh audience.
            </p>
            <p>
                <a href="{% static 'documents/lagreene-ceramics-cv.pdf' %}" target="_blank">
                    <b>Click for Curriculum Vitae</b>
                </a>
            </p>
            <p class="potters-mark">
                <img src="{% static 'images/icons/PottersMark_white.png' %}" alt="potters mark" class="potters-mark"/>
            </p>
        </div>
    </div>
    <div class="col-md-4" id="portrait">
        <img src="{% static 'images/portrait-with-work.jpeg' %}" alt="Artist photo"> 
    </div>
    <div class="col-md-4" id="portrait">
        <img src="{% static 'images/work_in_progress_sealife.jpeg' %}" alt="Artist photo">
    </div>
    <div class="col-md-8">
        <div>
            <h2>
                Inspiration
            </h2>
            <p>
                My subjects are mostly inspired by encounters with the animal kingdom at home and abroad and I am particularly interested in how animals and human interaction are described in folk songs and myth.
            </p>
            <p>
                It is important to me to instil character and humour in my work and I have created a unique collection of both domestic and exotic creatures since commencing my business in 1994.
                Every piece is a one off with its own persona demonstrating an imaginative interpretation of a particular experience or story. While some themes have been revisited and refined I continue to research and explore new topics. 
            </p>
            <p>
                I like visiting and looking at artefacts in museums and on ancient sites and some forms for earlier works were inspired by animals represented in cultural objects and in particular the tomb statuary of ancient Egypt.
                I enjoy walking in the countryside and along the coast near to my East Yorkshire home and more recent works have been inspired by observations and reactions to the natural world, flora and fauna around me. 
            </p>
            <p>
                I am currently engaged in making and experimenting with stylised tree forms each with a story to tell.
            </p>
            <p class="potters-mark">
                <img src="{% static 'images/icons/PottersMark_white.png' %}" alt="potters mark" class="potters-mark line-break-right-side"/>
            </p>
        </div>
    </div>
    <div class="col-md-8">
        <div>
            <h2>
                Materials & Techniques
            </h2>
            <p>
                All works are individually hand built and modelled. Using a grogged clay body for texture and strength I employ techniques including slabbing, coiling and pinching and I model detail with simple tools and my fingers.
            </p>
            <p>   
                The surface of the finished object is sponged to expose the texture of the clay body and other effects are achieved by using impressing ,scoring, and sprigging methods.
                Colour is applied using body stains, coloured slips before biscuit firing to 1000 degrees celsius in an electric kiln. Then, prior to a higher firing of around 1185 degrees celsius, the surface texture is enhanced with a wash of metallic oxides which is sponged back and more colour is added using brush on stains and glazes.
                A shiny transparent glaze is applied in the areas that are to be given a gold or platinum lustre finish which involves a third firing to 750 degrees celsius.
            </p>
            <p>   
                Ornaments using textile tassels, jewellery wire and beads are assembled and attached as a contrast to the ceramic textiles on some pieces adding a sense of movement.
            </p>
            <p class="potters-mark">
                <img src="{% static 'images/icons/PottersMark_white.png' %}" alt="potters mark" class="potters-mark"/>
            </p>
        </div>
    </div>
    <div class="col-md-4" id="portrait">
        <img src="{% static 'images/work_in_kiln_sealife.jpeg' %}" alt="Artist photo"> 
    </div>
</div>

{% endblock %}

<!-- <p>
    The cat reliquary vessels are based on canopic jars and mummified forms from ancient egypt. They function on a decorative level but they could also be used for the interment of remains. The unmodelled coils revealing the skeleton of the pot are intended as a visual metaphor. "Miu" is the ancient egyptian word for cat. "Feeline" is a play on words describing the object and the instinct to touch and hold. I aim to create the feeling of the ceremonial or sacred in many of my pieces but also think that the expression of fun and playfulness is an important element.
</p>
<p>
    Geisha was created to show originally at Potfest in Cumbria several years ago when there was a cultural exchange between Japan and the Lake District. I have always appreciated oriental art and imagery and before making her I researched several books about geishas. My computer was also very useful in finding details and checking out images. I particularly like the flowing lines of the kimono over the figure and the flat oval faces with tiny features of the Japanese ladies in Ukiyoe art from the Edo period. I initially created the two Kimonos to work out how I would construct the bigger piece but left them without the figure because I felt that they took on a life and movement of their own. Something which I hope to explore in the future.
</p>
<p>
    The camel pieces began with the crowned camels "Rex" designed, initially, for a Christmas show in Glasgow.Since I began making camels they have appeared regularly in my life sometimes in the most extraordinary places such as walking down the centre of the road in a small french town!I have sat on the back of a lovely camel called Antony in Luxor.(learning how to lean backwards for the descent)Rode a camel into the Sahara in Tunisia and most recently visited the camel races and camel dressage in Qatar.The latter event inspiring the kneeling camels and riders in my collection.
</p> -->