{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="row" id="links">
    <div class="col-sm-12 col-md-7">
        {% for link in links %}
        <div class="card link">
            <h5 class="card-header">
                {{ link.title }}
            </h5>
            <a href="{{ link.link }}" class="btn btn-primary">
                {{ link.link }}
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-5 justify-content-center d-flex" id="link-images">
        <div>
            <img src="{% static 'images/links/BCTF-logo.jpg' %}" alt="Artist photo">
        </div>
        <div>
            <img src="{% static 'images/links/Era-Logo.jpg' %}" alt="Artist photo"> 
        </div>
        <div>
            <img src="{% static 'images/links/northern_potters_association_logo.jpg' %}" alt="Artist photo"> 
        </div>
    </div>
</div>
{% endblock %}