<div>
    <h2>
        Materials and Techniques
    </h2>
    <p>
        I use commercially prepared clay to create my work employing traditional hand building methods. In particular the techniques of coiling, pinching and rolling. The insides of the reliquary vessels are deliberately left unmodelled in order to reveal the skeleton-like coiled structure. External surfaces are modelled with fingers and simple tools. Impressing is used to achieve desired textures which are often highlighted using a wash of coloured slip (liquid clay) and/or metal oxides.

        Underglaze colours and glazes are sometimes used to add colour and where appropriate a sense of opulence is achieved with the addition of gold lustre. In order to finish and colour them more easily I make the blankets and riders on the animals to fit before any firings are carried out then, if necessary, assemble them together permanently with epoxy resin. The textile tassles and other materials are assembled and added after firing.Creating a sense of movement they draw attention to the contrast between hard and soft, the real and the representational.
    </p>
</div>