{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="row" id="stockists">
    <div class="title">
        <h2>
            Current stockists, exhibitions and shows
        </h2>
    </div>
    {% if current_stockists %}
    <div class="stockists">
        {% for stockist in current_stockists %}
        {% include './stockists/stockist.html' %}
        {% endfor %}
    </div>
    {% else %}
    <p>If there are no upcoming events, please feel free to see past events where my work has been displayed or if you
        would like more information regarding current works
        <a href="{% url 'contact' %}"><b>contact me</b>.</a>
    </p>
    {% endif %}
    <div class="title">
        <h2>
            Past stockists, exhibitions and shows
        </h2>
        {% block filter_menu %}
        {% include './stockists/filterMenu.html' %}
        {% endblock %}
    </div>
    <div class="stockists">
        {% block past_stockists %}
        {% for stockist in past_stockists %}
        {% include './stockists/stockist.html' %}
        {% endfor %}
        {% endblock %}
    </div>
</div>
{% endblock %}