{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="row">
    <div class="col-md-12" id="abId0.1921916090196436">
        <div class="row page">
            <div class="col-md-12" id="abId0.013323824564732467">
                <div class="row">
                    <div class="col-md-12" id="abId0.028373669007306646">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 displayCenter" id="abId0.4251624831781713">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="text-center">
                                    Lesley Anne Greene Ceramics
                                </h1>
                                <p class="text-center">
                                    <blockquote>
                                        Behind the making of every piece there is story, an idea, brought into being in my Yorkshire workshop and made permanent by firing in an electric kiln. 
                                        I enjoy creating something a bit different every time and each piece is really either a one off or part of a small group. My imagination is triggered using observation and experiences from my daily life and travels. 
                                        I research my ideas in books and on the internet for detail and background material and I find it enriching to discuss my work with the public even using some anecdotes to inspire new pieces.
                                    </blockquote>
                                    
                                    Please visit the online <a href="{% url 'photologue:gallery-list' %}"><b>gallery</b></a> to view further examples of a growing menagerie and dramatic sculptures.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4">
                        <div class="carousel slide" id="carousel-868042">
                            <div class="carousel-inner">
                                {% for item in slideshow %}
                                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                        <img class="d-block w-100" alt="Carousel Bootstrap" src="{{ item.image.url  }}" />
                                        <!-- <div class="carousel-caption">
                                            <h4>
                                                {{ item.title }}
                                            </h4>
                                        </div> -->
                                    </div>
                                    {% endfor %}
                            </div> <a class="carousel-control-prev" href="#carousel-868042" data-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" href="#carousel-868042" data-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row page">
            <div class="col-md-12" id="abId0.6705007031212171">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
                <div class="row">
                    {% for category in categories %}
                    <div class="col-md-2">
                        <img alt="Bootstrap Image Preview" src="{{ category.image.url }}" class="img-thumbnail" />
                        <h3 class="text-info text-center">
                            {{ category.name }}
                        </h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row page">
            <div class="col-md-12" id="abId0.6547029226758361">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="abId0.7773693883923949">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <h3 class="text-center">
                                    Materials and Techniques
                                </h3>
                                <p class="text-center">
                                    I use commercially prepared clay to create my work employing traditional hand building methods. In particular the techniques of coiling, pinching and rolling. The insides of the reliquary vessels are deliberately left unmodelled in order to reveal the skeleton-like coiled structure. External surfaces are modelled with fingers and simple tools. Impressing is used to achieve desired textures which are often highlighted using a wash of coloured slip (liquid clay) and/or metal oxides.

                                    Underglaze colours and glazes are sometimes used to add colour and where appropriate a sense of opulence is achieved with the addition of gold lustre. In order to finish and colour them more easily I make the blankets and riders on the animals to fit before any firings are carried out then, if necessary, assemble them together permanently with epoxy resin. The textile tassles and other materials are assembled and added after firing.Creating a sense of movement they draw attention to the contrast between hard and soft, the real and the representational.
                                </p>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="abId0.6979473060785626">
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                        <div class="row" style="
                            background-color: #88A0A8;
                            padding: 32px 8px;
                            color: white;
                        " >
                            <div class="col-md-4">

                                <address>
                                        <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                            <div class="col-md-8" id="abId0.6014137509079738">
                                {% block instagram %}
                                    {% include 'instagram.html' %}
                                {% endblock %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="
                                padding: 12px 0px;
                            ">
                                    <span class="badge badge-default">Copyright 2019 Lesley Anne Greene </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}