{% block navbar %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage' %}">Home</a>
            </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'photologue:gallery-list' %}">Gallery</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage' %}">About</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage' %}">CV</a>
        </li>
        <li class="nav-item">
        <!-- <a class="nav-link" href="{% url 'homepage' %}">News</a> -->
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage' %}">Links</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage' %}">Contact</a>
        </li>
    </ul>
</div>

{% endblock %}