{% load instagram_client %}
{% load static %}
{% block instagramfeed %}
<div id="django_recent_media_wall">
    {% instagram_user_recent_media instagram_profile_name %}
    {% if recent_media|length > 0 %}
        {% for media in recent_media|slice:":4" %}
            <a href="//instagram.com/p/{{ media.shortcode }}" target="_blank">
                <img src="{{ media.thumbnail_resources.0.src }}"/>
            </a>
        {% endfor %}
    {% else %}
        <a href="https://www.instagram.com/lesleyannegreene/" target="_blank">
            <img src="{% static 'images/instagram_fallback_1.jpg' %}"/>
        </a>
        <a href="https://www.instagram.com/lesleyannegreene/" target="_blank">
            <img src="{% static 'images/instagram_fallback_2.jpg' %}"/>
        </a>
        <a href="https://www.instagram.com/lesleyannegreene/" target="_blank">
            <img src="{% static 'images/instagram_fallback_3.jpg' %}"/>
        </a>
        <a href="https://www.instagram.com/lesleyannegreene/" target="_blank">
            <img src="{% static 'images/instagram_fallback_4.jpg' %}"/>
        </a>
    {% endif %}
</div>
{% endblock %}