{% load static %}
{% block newsfeed %}
<div id="newsfeed" class="col-md-12">
    {% for announcement in announcements|slice:":4" %}
        <div class="news-item">
                <div class="card">
                    <h5 class="card-header">
                        {{ announcement.title }}
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                           {{ announcement.description }}
                        </p>
                    </div>
                    <div class="card-footer">
                        {{ announcement.link }}
                    </div>
                </div>
            </div>
    {% endfor %}
</div>
{% endblock %}