{% load static %}
{% block newsfeed %}
<div id="newsfeed" class="col-md-12">
    {% for show in curent_shows|slice:":4" %}
        <div class="news-item">
                <div class="card">
                    <h5 class="card-header">
                        {{ show.title }}
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                           {{ show.description }}
                        </p>
                    </div>
                    <div class="card-footer">
                        {{ show.link }}
                    </div>
                </div>
            </div>
    {% endfor %}
</div>
{% endblock %}