{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="icon" 
      type="image/png" 
      href="{% static 'images/icons/PottersMark_grey.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Glightbox gallery -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">

    <!-- Own CSS -->
    <link rel="stylesheet" type="text/css"  href="{% static 'styles/nav.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'styles/pages.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'styles/gallery.css' %}">

    <title>Lesley Anne Greene Ceramics</title>
  </head>
  <body>
    <div class="container-fluid" id="content">
      <div class="row sticky-top">
        <div class="col-md-10 col-lg-7">
          <nav class="navbar navbar-expand-md navbar-light bg-light" id="main-nav">
              <div class="container-fluid" style="padding: 0px;">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  {% block navbar %}
                    {% include 'navbar.html' %}
                  {% endblock %}
              </div>

          </nav>
        </div>
      </div>
      <div class="row" id="page-header">
        <div class="col-md-12">
          <div class="page-header">
            <h1>
                Lesley Anne Greene Ceramics
            </h1>
          </div>
        </div>
      </div>
      {% block page_content %}{% endblock %}
      <div class="row" id="copyright">
        <div class="col-sm-12 col-md-3">
          <span class="badge badge-default">Copyright 2019 Lesley Anne Greene </span>
        </div>
        <div class="website-details col-sm-12 col-md-9">
          <span class="badge badge-default">Sustainably hosted by <a href="https://www.34sp.com/" target="_blank">34sp.com</a> & built by <a href="#">Jessica Greene</a> </span>
        </div>
      </div>
    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Glightbox gallery -->
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>    
    <!-- gallery filtering -->
    <script type="text/javascript" src="{% static 'scripts/filtering_script.js' %}"></script>

    <!-- gallery lightbox -->
    <script>
      var myLightbox = GLightbox({
        'selector': 'glightbox'
      });
    </script>
  </body>
</html>