{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Own CSS -->
    <link rel="stylesheet" type="text/css"  href="{% static 'styles/nav.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'styles/pages.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'styles/gallery.css' %}">

    <title>Lesley Anne Greene Ceramics</title>
  </head>
  <body>
    <div class="container-fluid" id="content">
      <div class="row sticky-top">
        <div class="col-md-10 col-lg-7">
          <nav class="navbar navbar-expand-md navbar-light bg-light" id="main-nav">
              <div class="container-fluid" style="padding: 0px;">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  {% block navbar %}
                    {% include 'navbar.html' %}
                  {% endblock %}
              </div>

          </nav>
        </div>
      </div>
      <div class="row" id="page-header">
        <div class="col-md-12">
          <div class="page-header">
            <h1>
                Lesley Anne Greene Ceramics
            </h1>
          </div>
        </div>
      </div>
      {% block page_content %}{% endblock %}
      <div class="row" id="copyright">
        <div class="col-sm-3">
          <span class="badge badge-default">Copyright 2019 Lesley Anne Greene </span>
        </div>
        <div class="display-right col-sm-9">
          <span class="badge badge-default">Sustainably hosted by <a href="#" target="_blank">342p.com</a> & built by <a href="#">Jessica Greene</a> </span>
        </div>
      </div>
    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/js/mdb.min.js"></script>
    
    <!-- gallery filtering -->
    <script>
      $(function() {
        var selectedClass = "";
        $(".filter").click(function(){
          selectedClass = $(this).attr("data-rel");
          $("#gallery").fadeTo(100, 0.1);
          $("#gallery div").not("."+selectedClass).fadeOut().removeClass('animation');
          setTimeout(function() {
            $("."+selectedClass).fadeIn().addClass('animation');
            $("#gallery").fadeTo(300, 1);
          }, 300);
        });
      });
    </script>
    <!-- gallery lightbox -->
    <script>
      // MDB Lightbox Init
      $(function () {
        $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
      });
    </script>
  </body>
</html>